<section id="page-title">
  <div class="container clearfix">
    <h1>Editar Marca</h1>
    <span>¿Que es lo que hace increible a tu marca?</span>
  </div>
</section>

<%= render 'form', brand: @brand %>

<div class="clearfix container center">
  <a class="button bg-dark text-white button-dark button-large noleftmargin" href="<%= brands_path %>" role="button">Volver</a>
</div>
